
@font-face {
    font-family:gicos ;
    src: url(../font/Onest-VariableFont_wght.ttf);
}
*{
  
Margin: 0px
}

p{
font-size: 18px;
width: 600px;
margin-left: 160px;
margin-bottom: 60px;


}
.carecudo>h1{
    color:#ffff;
    font-size: 60px;
    font-family:gicos;
    margin-left: 150px;
    width: 700px; 
   
}

   .carecudo /*da imagem */{  
    background-image: linear-gradient(to right, rgba(28, 52,51,0.9), rgba(28, 52,51,0.4)), url(../img/o_careca.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    align-content: center;
    
    
}


.cabecalho{
   background-color:#1c3433;
   height: 86px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.cabecalho img{
    height: 40px;
    
   
}
.navegacao>ul{    
    list-style: none;
    display: flex;
    margin-left: 150px;
}
.navegacao>ul a{
    color: rgb(255, 255, 255);
    margin: 15px;
   

    
    

}
.destaque{
    color: #53cc6c;
    font-family:gicos;

}


.a1{
     
      color: #53CC6C; /* Cor do texto */
      padding: 10px 20px; /* Espaçamento interno */
      border: 1px solid #53CC6C;/* coloca borda */
      border-radius: 5px; /* Bordas arredondadas */
      font-size: 16px; /* Tamanho da fonte */
      margin-left: 160px;
      text-decoration: none;
      
}
.pagina_2{
  display: flex;

}

.careca_azul{
    width: 960px ;
    height:100vh ;
    object-fit: cover;
    object-position: top;
}
.pagina_2{
    height: 100vh;
    background-color: #2B2D3D;
    
  
}
.pagina_2 h1{
    color: #53CC6C;
    font-size: 46px;
    margin-left: 150px;
    width: 700px; 
    margin-top: 150px;
}
.pagina_2 p{
    font-size: 18px;
    
}

